<!-- Creates cards for each recipe -->
<div id="recipeCards">
    {{#each recipes}}
        <div class="card">
            <img src="{{this.image}}" alt="{{this.label}}">
            <h2 class="card">{{this.label}}</h2>
            <a href="{{this.url}}" target="_blank">View Recipe</a>
            <p class="ingredients">Ingredients:</p>
            <ol class="ingredientLines">
                {{#each this.ingredientLines}}
                    <li>{{this}}</li>
                {{/each}}
            </ol>
        </div>
    {{/each}}
</div>