<!-- Search form -->
<form id="searchForm" action="/api/recipe" method="GET">
    <input id="searchInput" type="text" name="q" placeholder="Search for a recipe">
    <input id="nextPageHref" type="hidden" name="nextHref" value="{{this.nextHref}}"> <!-- This is the hidden input that will store the nextHref -->
    <button id="searchButton" type="submit" value="Search">Search</button>
</form>

<!-- Creates cards for each recipe -->
<div id="recipeCards">
    {{#each recipes}}
        <div class="card">
            <h1 class="title">{{this.title}}</h1>
            <img src="{{this.image}}" alt="{{this.label}}">
            <h2 class="card">{{this.title}}</h2>
            <a href="{{this.url}}" target="_blank">View Recipe</a>
            <p class="ingredients">Ingredients:</p>
            <ol class="ingredientLines">
                {{#each this.ingredientLines}}
                    <li>{{this}}</li>
                {{/each}}
            </ol>
            <button class="save-recipe" data-recipe-id="{{this.id}}">Save Recipe</button>
            <button class="save-ingredients" data-ingredient-id="{{this.uri}}">Save Ingredients</button>
        </div>
    {{/each}}

    {{#if this.nextHref}}
    <button id="nextPage">Next Page</button>
    {{/if}}
</div>

<script>
    const form = document.getElementById('searchForm'); // Get the search form
    const nextButton = document.getElementById('nextPage'); // Get the "Next Page" button

    nextButton.addEventListener('click', (e) => {   // Add an event listener to the "Next Page" button
        e.preventDefault(); // Prevent the default form submission
        form.submit();  // Submit the form
    });
    
    // JavaScript code for saving recipes
    document.addEventListener('DOMContentLoaded', function() { // Wait for the DOM to load
        const saveRecipeButtons = document.querySelectorAll('.save-recipe'); // Get all "Save Recipe" buttons

        saveRecipeButtons.forEach(function(button) { // Add an event listener to each "Save Recipe" button
            button.addEventListener('click', function() { // When the button is clicked
                const recipeId = this.getAttribute('data-recipe-id'); // Get the recipe ID from the button's data-recipe-id attribute
                console.log('Saving recipe with ID:', recipeId); // Log the recipe ID to the console

                fetch('/api/recipesave', { // Send a POST request to the /api/recipesave endpoint
                    method: 'POST', // Use the POST method
                    headers: { // Set the request headers
                        'Content-Type': 'application/json', // Set the content type to JSON
                    },
                    body: JSON.stringify({ id: recipeId }), // Set the request body to the recipe ID
                })
                .then(response => response.json()) // Parse the JSON response
                .then(data => { // Log the response data to the console
                    console.log('Received response:', data); // Log the response data to the console
                    alert(data.message); // Display the response message in an alert dialog
                    // Redirect to recipestore.handlebars after saving
                    //window.location.href = '/recipestore'; // Redirect to the recipestore page
                })
                .catch(error => console.error('Error:', error)); // Log any errors to the console
            });
        });
    });

//---------------------------------------------------------------------------------------------------------------//
//                                     JavaScript code for saving ingredients                                    //  
//---------------------------------------------------------------------------------------------------------------//

document.addEventListener('DOMContentLoaded', (event) => {
    const saveIngredientsButton = document.querySelectorAll('.save-ingredients');

    saveIngredientsButton.forEach(button => {
        button.addEventListener('click', async(e) => {
            try{
                let uri = button.getAttribute("data-ingredient-id");
                let response = await fetch(`/ingredients?uri=${encodeURIComponent(uri)}`);
                let data = await response.json();
                console.log(data);
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
});

</script>